body {
  position: absolute;
  height: 100%;
  width: 100%;
  padding-top: 2%;
  margin: auto;
}

.container {
  width: 50%;
  height: 100%;
  margin: auto;
  margin-top: 3%;
  display: flex;
  flex-direction: column;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-bottom: 2%;
}

.footer {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  font-family: Arial, Helvetica, sans-serif;
  height: 160px;
  text-decoration: none;
  z-index: 0;
}

@media only screen and (max-width: 978px) {
  div.copyright {
    font-size: xx-small;
  }
  div.contact-large {
    display: none;
  }
  div.contact-small {
    font-size: small;
    display: block;
  }
  div.container {
    width: 85%;
  }
  img.logo {
    width: 35%;
  }
  div.header {
    margin-bottom: 5%;
  }
  div.copyright {
    margin-top: 4%;
  }
  div.phone {
    margin-top: 3%;
  }
}

.contact {
  font-size: medium;
  font-family: Arial, Helvetica, sans-serif;
}

.copyright {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: small;
  z-index: 0;
}

.email {
  text-decoration: none;
  color: #000000;
}

.description {
  font-family: Arial, Helvetica, sans-serif;
  font-size: medium;
}

.images {
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 1;
}

.social {
  text-align: right;
  max-width: 150px;
}

.insta-logo {
  width: 20%;
  text-align: right;
}

.contact-small {
  display: none;
}

.logo {
  width: 20%;
}

.wrapper {
  position: relative;
}

/* .images img {
  position: absolute;
  top: 0;
  animation-name: fade;
  animation-iteration-count: infinite;
  animation-duration: 56s;
  width: 100%;
} */

.images img {
  position: absolute;
  top: 0;
  animation-timing-function: ease-in-out;
  animation-name: fade;
  animation-iteration-count: infinite;
  animation-duration: 6s;
  width: 100%;
}

/* @keyframes fade {
  0% {
    opacity: 1;
  }
  12% {
    opacity: 1;
  }
  14% {
    opacity: 0;
  }
  98% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
} */
@keyframes fade {
  0% {
    opacity: 0;
    z-index: 100;
  }
  15% {
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    z-index: 1;
  }
}
#back1 {
  animation-delay: 4s;
}
#back2 {
  animation-delay: 2s;
}
#back3 {
  animation-delay: 0s;
}

/* #back7 {
  animation-delay: -48s;
}
#back6 {
  animation-delay: -40s;
}
#back5 {
  animation-delay: -32s;
}
#back4 {
  animation-delay: -24s;
} */
/* #back3 {
  animation-delay: -16s;
}
#back2 {
  animation-delay: -8s;
}
#back1 {
  animation-delay: 0s;
} */
